# ===============================
# PostgreSQL Configuration
# ===============================

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PORTS=5434:5432


# ===============================
# pgAdmin Configuration
# ===============================

PGADMIN_EMAIL=your_email@example.com
PGADMIN_PASSWORD=your_pgadmin_password
PGADMIN_PORT=8080
PGADMIN_PORTS=8088:8080


# ===============================
# Application Database Settings
# ===============================

DB_PORT=5432
DB_NAME=your_database_name


# ===============================
# Spring Boot Application
# ===============================

APP_PORT=3000
SPRING_PROFILES_ACTIVE=test